@CHARSET "ISO-8859-1";

.ui-widget {
	font-family: Times New Roman, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Times New Roman, Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.ui-tabs {
	padding: 0.2em;
	background:
		url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png)
		repeat-x scroll 50% top #F5F3E5;
	border-width: 1px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 0.2em;
	background:
		url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_gloss-wave_100_ece8da_500x100.png)
		repeat-x scroll 50% 50% #ECE8DA;
	border: 1px solid #D4CCB0;
	-moz-border-radius: 2.67em;
	-webkit-border-radius: 2.67em;
	border-radius: 2.67em;
}

#tabs-centre .ui-tabs-nav {
	height: 2.35em;
	text-align: center;
	border-bottom: none;
	margin: 0 auto;
}

#tabs-centre .ui-tabs-nav li {
	display: inline-block;
	float: none;
	top: 0em;
	margin: 0em;
	padding-bottom: 0em;
}

#tabs-centre-1 {
	background: #fcfcf8;
	height: 4em;
	margin: 0 auto;
}

#tabs-centre-2 {
	background: #fcfcf8;
	height: 4em;
	margin: 0 auto;
}

#tabs-centre-1-result {
	background: #f5f3e5;
	height: 4em;
}
/* The result is shown here */
#tabs-centre-2-result {
	background: #f5f3e5;
	min-height: 4em;
	width: 60%;
	
	margin: 0 auto;
}

section {
	display: block;
	width: 80%;
	min-width: 60em;
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

.borderClass {
	border-color: #ff0000;
	border-width: .125em;
	border-style: solid;
}

.content {
	height: 5em;
	margin: 0 auto;
}