@CHARSET "US-ASCII";

* {
	font-family: Times New Roman, Arial, Helvetica, sans-serif;
	margin: 0em;
	padding: 0em;
}

html {
	height: 100%
}

body {
	height: 100%;
}
h2 {
    display: block;
    font-weight: bold;
    color: #459e00;
}

/* all div */
#welcome{
	width:50em;
	height:1.125em;
	margin: 0 auto;
	text-align:left;
}
#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
#generatedTable{
	width: 50em;
	background-color: #f5f3e5;
	margin: 0 auto;
}
div.header {
	text-align: center;
	width: 99%;
	height: 4em;
	background-color: #459e00;
	border-radius: .5em;
	margin: 0 auto;
}

div.login {
	float: right;
	vertical-align: middle;
	margin-right: 1em;
	margin-top: 1em;
}

div.footer {
	position: absolute;
	bottom: 3em;
	font-size: small;
	color: gray;
	width: 100%;
	text-align: center;
}

div.content {
	position: relative;
	padding: 2.5em;
}

div.toolbar {
	position: relative;
	padding-left: 2.5em;
	margin-top: .625em;
}

/* Table elements */
table.offers {
	padding: 1.25em;
	border: 1px solid #459e00;
	width:50em;
}

table.offers td {
	border-bottom: 1px dashed #459e00;
	padding-bottom: .3125em;
}
.bold{
	font-weight:bold;
}
td.name {
	width: 6.25em;
	vertical-align: top;
}

td.request {
	width: 6.25em;
	vertical-align: top;
	text-transform: capitalize;
}
td.contact {
	padding: 0px .625em;
	width: 2.5em;
	vertical-align: top;
}
.greenFontBold{
	color:#459e00;
	font-weight:bold;
}
/* Form elements */
select {
    font-size: .7em;
    padding: .125em .625em;
}


input[type=submit] {
	padding: .3em 1em;
	font-size: 1em;
	background: #ccc;
	border: 1 none;
	cursor: pointer;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	
}
input[type=button] {
	padding: .3em 1em;
	font-size: .8em;
	background: #ccc;
	border: 1 none;
	cursor: pointer;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
}

.formtable {
	width: 37.5em;
	height: 19em;
	padding: .625em;
	border: 1px solid #459e00;
}
td.formtable{
	valign:top;
}
#mylogin input[type=submit] {
	font: .75em;
	width: 2em;
	height: .25em;
}

textarea {
	width: 15.625em;
	height: 18.75em;
}

input.delete {
	border: 1px solid red;
}

form.replyform {
	padding: 1.25em;
	display: none;
}

textarea.replyarea {
	width: 25em;
	height: 50px;
}

input.replybutton {
	display: block;
	font-size: large;
	border: 1px solid gray;
}

/* Anchor elements */
a.login {
	font-weight:bold;
	font-size:1.15em;
	position: absolute;
	top: 1.25em;
	right: 1.5em;
	color: white;
}

a.title {
	color: white;
	font-size: 3em;
	text-decoration: none;
}

a.replylink:link {
	color: brown;
}

/* Others */
span.messagebody {
	display: block;
	font-style: italic;
}

span.name {
	color: brown;
	font-size: medium;
}

span.alert {
	display: block;
	color: green;
}

span.subject {
	font-size: large;
	color: brown;
	font-weight: bold;
}

p.error {
	font-size: medium;
}

.label {
	text-align: right;
	width:130px;
	height:22px;
	vertical-align: top;
}
.heightAdjust{
	height:186px;
}
.formTextSize {
	margin-left: .625em;
	width:12em;
	height:1.375em;
}

.formTextSubmit {
	margin-left: .625em;
	width:9em;
	height:2.2em;
}
.error {
	font-size: small;
	color: red;
	margin-left: .625em;
}

.valid {
	font-size: small;
	color: green;
	margin-left: .625em;
}

.message {
	margin-bottom: 20px;
	border-bottom: 1px dashed brown;
}

.gap {
	height: .5em;
}
.selectCountry{
	margin-left: .625em;
	width:10em;
	font-size:1em;
}